/* Resets */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

/* utils */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.svg-img {
  width: 20px;
  height: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* page styles */

/* header */
header {
  border-bottom: 1px solid lightgray;
}

.logo {
  width: 250px;
  height: 50px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-header-user {
  display: flex;
  gap: 3rem;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.searchBox {
  padding: 0.5rem;
  border-radius: 0.33rem;
  border: none;
  background: lightgray;
  width: 35%;
}

#input-container {
  position: relative;
  border: none;
}

#input-container > img {
  position: absolute;
  top: 12px;
  left: 15px;
}

#input-container > input {
  padding-left: 40px;
  border: none;
  background: transparent;
  width: 100%;
}

#input-container > input:focus {
  outline: none;
}

.nav-links {
  width: 40%;
  margin: auto;
  padding: 0.8rem;
  letter-spacing: 2px;
}

/* hero section */
.hero {
  width: 100%;
  max-height: 580px;
  overflow: hidden;
  position: relative;
}

.img-text {
  position: absolute;
  background-color: rgba(196, 196, 196, 0.95);
  width: 40%;
  text-align: center;
  top: 0;
  bottom: 0;
  padding: 3rem;
}

.all-tea {
  color: white;
  background: #68374e;
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1.5rem;
}

.all-tea:hover {
  color: #68374e;
  background: transparent;
  border: 1px solid #68374e;
  border-radius: 2rem;
  padding: 1rem;
}

.season-tea {
  color: #68374e;
  background: transparent;
  border: 1px solid #68374e;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.season-tea:hover {
  color: white;
  background: #68374e;
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 1rem;
}

/* Benefits Section */
.benefits {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.benefit-card {
  display: grid;
  justify-items: center;
  padding: 0 2rem;
  gap: 1rem;
  text-align: center;
}

.benefit-card + .benefit-card {
  border-left: 1px solid lightgray;
}

.benefit-card-img {
  background: rgb(180, 180, 144);
  border-radius: 50%;
  padding: 10px;
}

.benefit-card p {
  width: 70%;
}

/* category section */
.categories {
  padding: 1rem;
  background-color: rgb(239, 232, 223);
}

.product-container {
  margin: auto;
}

.products {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-top: 2rem;
}

.product-card p {
  margin-top: 1rem;
}

.product-card {
  text-align: center;
}

.product-img > img {
  width: 225px;
  height: 225px;
  border-radius: 0.5rem;
  object-fit: cover;
}
